<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Don-Gu-Ri</title>
    <link rel="shortcut icon" href="../data/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../data/style.css">
</head>
<body>
    <header>
        <label for="glow" style="font-size: 3em;">Project DGR</label>
        <button id="glow" onclick="toggleColorChange()" hidden></button>
    </header>
    <aside>
        <pre name="textglowing">made by Junsu Lee&NewLine;With Node.js, ejs, CSS, JS</pre>
    </aside>
    <section>
        <div class="content">
            <img src="../data/Laplus.gif" alt="" id="laplus" name="boxglowing">
        </div>
        <div class="content">
            <audio name="donguri" src="../data/La+ Darkness remix (320 kbps).mp3" loop controls autoplay="true"></audio>
        </div>
        <div class="content">
            <p name="textglowing" style="color: #000000;">Don Gu Ri Ko Ro Ko Ro Don Gu Ri Ko~</p>
        </div>
    </section>
</body>
<script src="../data/textGlow.js"></script>
</html>